# Только для сервера (без VITE_ префикса)
ADMIN_TOKEN=admin123
FRONTEND_URL=http://localhost:5173
# .env.example
# API ключи
GNEWS_API_KEY=35dffefb07d5fc48e28c2ce1e3500e5f
NEWSDATA_API_KEY=pub_eed525d9005b445eb9c4cba41d4fa980

# Сервер
PORT=3000